.allcards {
    margin-top: 50px;
}


#linkrecipe {
    border: 1px solid rgb(149, 90, 204);;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 500;
     
    text-decoration: none;
    background-color: rgb(211, 198, 223);
    color: black;
}