  .colorBox {
    position: absolute;
    right: 200px;
  }
  .colorDiv {
    position: relative;
    height: 50px;
  }

.btnpurple { 
    background-color: rgb(149, 90, 204);
    color: white;
    
   }
   .btnstyle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
   }
